/* Main popup container */
.user-details-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* User details container */
.user-details {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* User card styling */
.user-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
}

.user-card p {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
}

/* Orders list styling */
.orders-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  background-color: #fff;
  justify-content: space-evenly;
}

.order-card .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.order-card p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.order-card p:nth-of-type(1) {
  font-weight: bold;
  font-size: 16px;
}

.order-card p:nth-of-type(3) {
  color: #555;
  font-size: 12px;
}

/* Centering the titles */
.centered-title {
  text-align: center;
}

/* Back button styling */
.back-button {
  align-self: flex-start;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #555;
}

/* Search input styling */
.order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 79%;
  margin-bottom: 1px;
}

.order-title {
  flex: 1;
  margin-left: 300px; 
}

.search-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}