.user-management-container {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
  margin-bottom: 50px;
}

.header {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #f1f1f1; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h2 {
  margin: 0;
  color: #333;
}

.header p {
  margin: 5px 0 0;
  color: #666;
}

.total-users {
  border: 1px solid #ddd;
  padding: 20px;
  border-bottom: none;
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 40px;
}

.user-list {
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 8px; 
  border-bottom-right-radius: 8px; 
}

.table-header,
.user-item {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 1fr;
  align-items: center;
  padding: 16px; 
  border-bottom: 1px solid #ddd;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f1f1f1; 
  font-weight: bold;
  border-top: 1px solid #ddd; 
}

.table-header-item {
  text-align: left;
  padding: 0 10px;
}

.user-item:last-child {
  border-bottom: none;
}

.user-name {
  cursor: pointer;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px; 
  cursor: pointer;
  border-radius: 20px;
}

.delete-button:hover {
  background-color: #c0392b;
}

.user-item p,
.user-name {
  padding: 0 10px;
  margin: 0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1001;
  text-align: center;
  width: 700px;
}
