/*----------Background----------*/
.LoginPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#LIBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    position: relative;
}
#LIBackground img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
#LIBackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: -1;
}
#LIBorder{
    display: flex;
    position: absolute;
  
    width: 400px; 
    height: 400px;

    margin-left: 0%;
    margin-right: auto;
    
    margin-top: 0%; 

    border-radius: 30px; 
    /* background-color: rgba(0, 100, 0, 0.9); */
    background-color: rgba(240, 240, 240, 0.8);
}  

/*----------Message----------*/
.LIWelcome{
    color: green;
    display: flex;
    position: absolute;

    font-size: 30px;
    font-family: impact, sans-serif;

    margin-left: 110px;
    margin-top: 30px; 
}
.LICreate{
    color: green;
    font-weight: bold;
    display: flex;
    position: absolute;

    margin-left: 175px;
    margin-top: 70px; 
}

/*----------Email----------*/
.LIEmail{
    display: flex;
    position: absolute;

    margin-left: 70px;
    margin-top: 100px; 
    color: green;
    font-weight: bold;
}
#LIEmail{
    display: flex;
    position: absolute;
  
    width: 260px; 
    height: 30px;
    
    margin-left: 70px;
    margin-top: 120px; 

    border-radius: 5px; 
}

/*----------Password----------*/
.LIPassword{
    color: green;
    display: flex;
    position: absolute;

    margin-left: 70px;
    margin-top: 150px;
    font-weight: bold; 
}
#LIPassword{
    display: flex;
    position: absolute;
  
    width: 260px; 
    height: 30px;
    
    margin-left: 70px;
    margin-top: 170px; 

    border-radius: 5px; 

}

/*----------Submit----------*/
.LISubmit{
    display: flex;
    position: absolute;
  
    width: 200px; 
    height: 40px;
    
    margin-left: 100px;
    margin-top: 220px; 

    border-radius: 10px; 
    color: green;
    background-color: yellow;
}

.LISubmit:hover {
    background-color:  #e6e600;
}

.LISubmitText{
    display: flex;
    position: absolute;

    margin-left: 60px;
    margin-top: 0px; 

    font-size: 30px;
    font-family: impact, sans-serif;
}
/*----------CreateAccount----------*/
.LIine {
    display: flex;
    position: absolute;
  
    width: 270px; 
    height: 2px;
    
    margin-left: 70px;
    margin-top: 280px; 

    background-color: black;
}
.LICreateAcc{
    background-color: yellow;
    display: flex;
    position: absolute;
  
    width: 200px; 
    height: 40px;
    
    margin-left: 100px;
    margin-top: 335px; 

    border-radius: 10px; 
}

.LICreateAcc:hover{
    background-color:  #e6e600;
}


.LICreateAccText{
    display: flex;
    position: absolute;

    margin-left: 10px;
    margin-top: 5px; 

    font-size: 20px;
    font-family: impact, sans-serif;
    color: green;
}