/*----------Background----------*/
#SignupPage, #SignupPage html, #SignupPage body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url('../images/root-img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
#SignupPage::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#SignupPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    position: relative;
    z-index: 2;
}
/* #SUBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    overflow: hidden;
    position: relative;
}
#SUBackground img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
#SUBackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
} */
#SignupPage::-webkit-scrollbar { /* hides scrollbar */
    display: none;
}
/*----------SignUpBorder----------*/
#SUBorder{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    scroll-margin: 20px;

    width: 400px;
    max-width: 400px; 
    height: 630px; 
    
    border-radius: 30px;
    background-color: rgba(240, 240, 240, 0.8);
    z-index: 3;
}   
.SUWelcome{
    color: green;
    display: flex;
    position: absolute;

    font-size: 30px;
    font-family: impact, sans-serif;

    margin-left: 30px;
    margin-top: 30px; 
}
.SUCreate{
    font-weight: bold;
    color: green;
    display: flex;
    position: absolute;

    margin-left: 120px;
    margin-top: 70px; 
}

/*----------FirstName----------*/
.SUFNLabel{
    color: green;
    display: flex;
    position: absolute;

    margin-left: 70px;
    margin-top: 120px;
    font-weight: bold; 
}
#SUFN{
    display: flex;
    position: absolute;
  
    width: 260px; 
    height: 30px;
    
    margin-left: 70px;
    margin-top: 140px; 

    border-radius: 5px; 

}

/*----------MiddleName----------*/
.SUMNLabel{
    font-weight: bold;
    color: green;
    display: flex;
    position: absolute;

    margin-left: 70px;
    margin-top: 170px; 
}
#SUMN{
    display: flex;
    position: absolute;
  
    width: 260px; 
    height: 30px;
    
    margin-left: 70px;
    margin-top: 190px; 

    border-radius: 5px; 

}

/*----------LastName----------*/
.SULNLabel{
    font-weight: bold;
    color: green;
    display: flex;
    position: absolute;

    margin-left: 70px;
    margin-top: 220px; 
}
#SULN{
    display: flex;
    position: absolute;
  
    width: 260px; 
    height: 30px;
    
    margin-left: 70px;
    margin-top: 240px; 

    border-radius: 5px; 
}

/*----------Email----------*/
.SUEmail{
    font-weight: bold;
    color: green;
    display: flex;
    position: absolute;

    margin-left: 70px;
    margin-top: 270px; 
}
#SUEmail{
    display: flex;
    position: absolute;
  
    width: 260px; 
    height: 30px;
    
    margin-left: 70px;
    margin-top: 290px; 

    border-radius: 5px; 

}

/*----------Password----------*/
.SUPassword{
    font-weight: bold;
    color: green;
    display: flex;
    position: absolute;

    margin-left: 70px;
    margin-top: 320px; 
}
#SUPassword{
    display: flex;
    position: absolute;
  
    width: 260px; 
    height: 30px;
    
    margin-left: 70px;
    margin-top: 340px; 

    border-radius: 5px; 
}

/*----------ConfirmPassword----------*/
.confirmPassword{
    font-weight: bold;
    color: green;
    display: flex;
    position: absolute;

    margin-left: 70px;
    margin-top: 370px; /* Adjusted margin-top */
}
#confirmPassword{
    display: flex;
    position: absolute;
  
    width: 260px; 
    height: 30px;
    
    margin-left: 70px;
    margin-top: 390px; /* Adjusted margin-top */

    border-radius: 5px; 
}


/*----------Submit----------*/
.SUSubmit{
    display: flex;
    position: absolute;
  
    width: 200px; 
    height: 40px;
    
    margin-left: 100px;
    margin-top: 420px; 

    border-radius: 10px; 
    background-color: yellow;
}
.SUSubmitText{
    display: flex;
    position: absolute;

    margin-left: 45px;
    margin-top: 0px; 

    font-size: 30px;
    font-family: impact, sans-serif;
    color: green;
}

.SUSubmit:hover {
    background-color:  #e6e600;
    cursor: pointer;
}