.product-management-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
}

.product-form-container {
    flex: 1;
    max-width: 300px;
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-form div {
    display: flex;
    flex-direction: column;
}

.product-form label {
    margin-bottom: 5px;
}

.product-form input,
.product-form textarea,
.product-form select {
    padding: 5px;
    font-size: 14px;
}

.product-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    flex: 2;
}

.product-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: calc(33% - 32px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item h2 {
    margin-top: 0;
}

.product-item p {
    margin: 8px 0;
}
